<div id="topbar" class="container-fluid">
    
      <div class="topbar__left">
        <div class="topbar__left-button">
          <a><h1>icon</h1></a>
        </div>
        <div class="topbar__left--logo">
          <a href="/"><img src="../assets/public/img/logo.PNG" alt=""></a>
        </div>
      </div>
  
      <div class="topbar__search">
        <div class="topbar--search__container">
          <input type="text" placeholder="Tìm kiếm">
  
        </div>
      </div>
  
      <ul class="topbar__right">
        <li class="topbar__right--item"><a href=""> <i class="fas fa-user"></i></a></li>
        <li class="topbar__right--item"><a href=""> <i class="far fa-user"></i></a></li>
        <li class="topbar__right--item"><a href=""> <i class="fal fa-user"></i></a></li>
      </ul>
    
</div>